<nav class="accent_{{ .Type }}">
    {{ $section := .Section }}
    <div class="centered navcontent">
        <a class="link home {{ if .IsHome }} active {{ end }}" href={{.Site.BaseURL}}>{{.Site.Params.homelink}}</a>
        {{ range .Site.Sections }}
            <a class="link {{ if eq .Section $section }} active {{end}}" href="{{.RelPermalink}}">{{.Title}}</a>    
        {{ end }}
    </div>
</nav>

<header class="accent_{{ .Type }}">
    <div id="header-content" >
        <div class="centered">
            <div class="title-wrapper">
                <h1>{{.Title}}</h1>
                {{ with .Params.subtitle }}
                    <h2>{{ . }}</h2>
                {{ end }}
            </div>
        </div>
    </div>
    <img src="{{.Site.BaseURL}}{{ .Params.image}}" alt="{{.Params.image_alt}}" />
</header>

