{{define "main"}}
<main class="centered">
    <article class="{{ .Type }}">
        <p>
            <img src="{{.Site.BaseURL}}{{ .Params.image}}" alt="{{.Params.image_alt}}" />
        </p>
        {{.Content}}
    </article>
    <div class="articleList">
        {{ range .Pages }}
        <a href="{{.Permalink}}" class="article accent_{{ .Type }}">
            <div>
                {{.Title}}
            </div>
        </a>
        {{end}}
    </ul>

    {{ if .Params.showTags }}
    <aside class="tagcloud">
        {{ range $taxonomyname, $taxonomy := .Site.Taxonomies }}
        <li><a href="{{ "/" | relLangURL}}{{ $taxonomyname | urlize }}">{{ $taxonomyname }}</a>
        <ul>
            {{ range $key, $value := $taxonomy }}
            <li> {{ $key }} </li>
                <ul>
                {{ range $value.Pages }}
                    <li><a href="{{ .Permalink}}"> {{ .LinkTitle }} </a> </li>
                {{ end }}
                </ul>
            {{ end }}
        </ul>
        </li>
    {{ end }}
    </aside>
    {{end}}
</main>

{{end}}